/* GLOBAL STYLESHEET */
/* Rubik reg for titles and Noto Sans for the rest */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Rubik&display=swap');

:root {
    --blackgrey: #323330;
    --yellow: #f0db4f;
    --bootblue: #0dcaf0;
}

.yellow {
    background-color: var(--yellow);
}

* {
    font-family: 'Noto Sans', sans-serif;
    /* depends on browsers */
    scrollbar-color: var(--yellow) var(--blackgrey)
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
}

/* toggle section */
.hide {
    display: none
}
/* end toggle section */

/* well done card */
.wd .card {
    width: 70%;
    margin: 0 auto;
}
/* end well done card */

/* scroll bar */
::-webkit-scrollbar{
    width: 0.60rem;
    background-color: var(--yellow);
    border-radius: .5rem
}

::-webkit-scrollbar-thumb{
    background-color: var(--black);
    border-radius: .5rem
}
